html {
    scroll-behavior: smooth;
}

body,
body * {
    margin:0;
    padding:0;
    box-sizing:border-box;
    vertical-align:top;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Gill Sans', 'Gill Sans MT', Calibri, sans-sarif
}