.banner {
  padding-top: 8.5em;
  padding-bottom: 25em;
  /* display: block;
  margin: auto; */
}

.container > .row > .left-bn h1 {
    font-family: 'Hind';
    font-size: 60px;
    line-height: 1.17;
    font-weight: 600;
}

.container > .row > .left-bn > .bn-text {
    line-height: 2;
    letter-spacing: 1px;
    font-size: 20px;
    line-height: 1.78;
    color: #5c6b56;
    margin-bottom: 34px;
}

.container > .row > .left-bn > .bn-text > p {
    font-weight: 300;
}

.container > .row > .left-bn > .bn-text > .don {
    color: var(--green-color);
}

.container > .row > .left-bn > .star > .fa {
    color: var(--yellow-color);
    padding: 0.3em;
    display: flex;
    align-items: baseline;
    
    
    
}

.container > .row > .left-bn > .star {
    display: flex;
  align-items: center;

}

.container > .row > .left-bn > .star > .count-nmb {
    font-size: 20px;
    margin-left: 5px;
    font-weight: 300;
}

.btn-Enroll {
    text-decoration: none;
    padding: 15px 33px;
    border-radius: 6px;
    background-color: var(--yellow-color);
    color: white;
    font-size: 18px;
    transition: all 0.3s;
    font-weight: 500;
    border: none;
    cursor: pointer;
    margin-right: 26px;
}

.btn-Enroll:hover {
  background-color: var(--green-color)
}

.btn-Financial {
    text-decoration: none;
    margin-left: 10px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    text-underline-offset: 5px;
    transition: .3s;
}

.btn-Financial {
  display: inline-block;
}

.btn-Financial::after {
  content: '';
  width: 0px;
  height: 1px;
  display: block;
  background: black;
  transition: 200ms;
}

.btn-Financial:hover::after {
  width: 100%;
}


.container > .row > .right-bn {
  display: inline-block;
  align-items: top;
  position: relative; 
}


.container > .row > .right-bn > {
  position: relative;
  top: 0px;
  left: 0;

}

.container > .row > .right-bn > div > .main-img {
  max-width: 100%;
  position: absolute;
  top: 0px;
  left: 0;

}
.container > .row > .right-bn > div > .heksagon {
  position: absolute;
  top: -3.6em;
  left: -4.6em;

}
.container > .row > .right-bn > div > .circle {
  position: absolute;
  top: 16.5em;
  left: 22.5em;
}div
.btn-play {
    text-decoration: none;
    padding: 0.9em 1.1em;
    border-radius: 100px;
    background-color: var(--yellow-color);
    color: white;
    font-size: 22px;
    transition: all 0.3s;
    font-weight: 500;
    border: none;
    cursor: pointer;
    position: absolute;
}

.btn-play:hover {
  background-color: var(--green-color)
}

.container > .row > .right-bn > .play {
  padding: 14em 16.5em; 
}




@media (max-width: 1500px) {

  .container > .row > .right-bn > div > .circle {
    top: 14em;
    left: 14em;
  }

  .container > .row > .right-bn > .play {
  padding: 12em 15em; 
}

 }


 @media (max-width: 1200px) {

  .container > .row > .right-bn > div > .circle {
    top: 9em;
    left: 8em;
  }

    .container > .row > .right-bn > .play {
  padding: 9.5em 12.5em; 
}

 }