  .banner {
    display: flex;
    padding-bottom: 25px;
    padding-top: 80px;
    align-items: center;
    /* justify-content: space-between; */
    gap: 100px;
    
  }

  .banner-gradient {
    background: linear-gradient(to bottom,#F6F8F5 0,rgba(228,255,239,.8) 20%,rgba(228,255,239,0) 100%);
  }

  .left-bn{
    padding-right: 45px;
  }

  .left-bn h1 {
    font-family: 'Hind', sans-serif;
    font-size: 60px;
    line-height: 1.17;
    font-weight: 600;
    text-transform: capitalize;
    /* padding-bottom: 10px; */
    /* margin-bottom: 50px; */
  }

  .left-bn > .bn-text > p {
    color: #5c6b56;
    padding-bottom: 50px;
    padding-top: 10px;
    max-width: 560px;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.78;
  }

  .left-bn > .bn-text > .person {
    font-weight: 400;
    color: #707070;
    font-size: 20px;
    line-height: 1.78;
    /* padding-bottom: 100px; */
  }

  .left-bn > .bn-text > .person > span {
    color: var(--green-color);
    font-weight: 600;
  }

  .left-bn > .star > .fa {
    color: var(--yellow-color);
    padding: 0.17em;
    display: flex;
    align-items: baseline;
  }

  .left-bn > .star {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
  }

  .left-bn > .star > .count-nmb {
    font-size: 20px;
    margin-left: 5px;
    font-weight: 300;
  }

  .btn-enroll {
    text-decoration: none;
    padding: 15px 33px;
    border-radius: 6px;
    background-color: var(--yellow-color);
    color: white;
    font-size: 18px;
    transition: all 0.3s;
    font-weight: 500;
    border: none;
    cursor: pointer;
    /* margin-right: 26px;
    margin-bottom: 26px;
    margin-left: 20px; */
  }
  
  .btn-enroll:hover {
    background-color: var(--green-color)
  }
  
  
  .btn-financial {
    text-decoration: none;
    margin-left: 30px;
    color: black;
    font-size: 17px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    text-underline-offset: 5px;
    transition: .3s;
  }
  
  .btn-financial {
    display: inline-block;
  }
  
  .btn-financial {
  --hovering-line: cubic-bezier(0.10, 1, 0.22, 1);
  position: relative;
  }

  .btn-financial::before{
    position: absolute;
    content: "";
    left: 0;
    bottom: -0.1rem;
    display: block;
    width: 100%;
    height: 1px;
    background: black;
    transition: 1.1s var(--hovering-line);
  }
  
  .btn-financial::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -0.1rem;
    display: block;
    width: 100%;
    height: 1px;
    background: black;
    transition: 1.1s var(--hovering-line);
  }

  .btn-financial::before {
    transform: scaleX(0);
    transform-origin: left;
  }

  .btn-financial::after {
    transform-origin: right;
    transition-delay: 0.25s;
  }
  
  .btn-financial:hover::before {
    transform: scaleX(1);
    transition-delay: 0.25s;
  }

  .btn-financial:hover::after {
    transform: scaleX(0);
    transition-delay: 0s;
  }
  

  div > .play{
    position: relative;
  }
  
  .right-bn > .play > .btn-play {
    text-decoration: none;
    padding: 1em 1.2em;
    border-radius: 100px;
    background-color: var(--yellow-color);
    color: white;
    font-size: 22px;
    transition: all 0.3s;
    font-weight: 500;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 44%;
    top: 44%;
    z-index: 2;
  }

  .heksagon {
    position: absolute;
    left: -75px;
    top: -60px;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
  }

  .circle{
    position: absolute;
    right: -80px;
    bottom: -70px;
    z-index: -1;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
  }

  .right-bn > .play > .btn-play:hover {
    background-color: var(--green-color)
  }

  .main-img{
    max-width: 100%;
    height: auto;
    z-index: 1;
    position: relative;
  }

  @media (max-width: 1499px) {
    .circle {
      margin-right: 90px;
    }
  }

  @media (max-width: 991px) {
    .circle {
      display: none;
    }
    .heksagon {
      display: none;
    }
    
    .banner{
      flex-direction: column;
      align-items: flex-start;
      gap: 75px
    }
    
    @media (max-width: 560px){
      .left-bn > .bn-text > p{
        padding-right: 0;
      }
      .btn-financial {
         margin-left: 10px;
     }
    }
    
  @media (min-width: 575px){
    .banner h1{
      font-size: 50px;
    }
  
  .btn-financial {
        font-size: 17px;
      }
  .btn-enroll {
    margin: 0px;
      }

  .left-bn > .bn-text > p {
      font-size: 17px;
  }
}
    
    @media (max-width: 447px){
      .btn-financial {
        padding-top: 35px;
      }
    } 
  }
  