.fa-angle-left, .fa-angle-right {
    width: 50px;
    height: 50px;
    background-color: #c9fff5;
    text-align: center;
    line-height: 50px;
    color: #5dd9c1;
    font-size: 22px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s;
}

.fa-angle-left:hover, .fa-angle-right:hover {
    background-color: var(--green-color);
    color: white;
}