.section-title{
    font-family: 'Hind', sans-serif;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}

.section-title h2 {
    color: var(--main-font-color);
    font-size: 40px;
    font-weight: 700;
    line-height: 1.35;
}

.accordion{
    font-family: 'Hind', sans-serif;
}

.accordion-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.accordion-title > div{
    margin-left: 50px;
}

.accordion-title p {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 20px;
    max-width: 1200px;
    color: #707070;
}

.accordion-title span {
    font-size: 18px;
    font-weight: 500;
    margin-right: 40px;
}

.accordion-title h3{
    color: var(--main-font-color);
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
}

.accordion-rest{
    margin-right: 50px;
}

.accordion-week{
    margin-left: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.accordion-week h3{
    font-size: 24px;
    white-space: nowrap;
}

.accordion-week i{
    color: var(--yellow-color);
    font-size: 32px;
    margin: 12px;
}

.accordion-expand{
    display: flex;
    justify-content: space-between;
}

.accordion-content{
    margin-left: 175.47px;
    margin-right: 50px;
    padding-top: 30px;
    max-width: 1000px;
}

.content-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.left-content{
    display: flex;
    align-items: center;
}

.left-content a{
    padding-left: 25px;
    color: var(--main-font-color);
}

.left-content p{
    padding-left: 25px;
    font-size: 18px;
    color:#707070;
}

.right-content{
    display: flex;
    align-items: center;
}

.right-content a {
    color: var(--green-color);
    font-size: 18px;
    font-weight: 600;
    padding-left: 50px;
}

.right-content i {
    font-size: 20px;
    margin-left: 75px;
    margin-right: 20px;
    color:#707070;
}

.content-summary{
    color:#707070;
}

.btn-syllabus{
    white-space: nowrap;
    color: var(--main-font-color);
    text-decoration: none;
    border: 1px solid var(--green-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: 10px;
    padding: 15px 33px;
    text-align: center;
}

.card{
    background-color: #fff;
    box-shadow: 0 8px 16px rgb(0 0 0 / 6%);
    border-radius: 20px;
    padding: 40px 0;
    margin-bottom: 30px;
    word-wrap: break-word;
}

.accordion-rest{
    border-bottom: 1px solid transparent;
}

.card-active .accordion-rest{
    border-bottom-color: #eee;
    padding-bottom: 30px;
}

.video-preview{
    font-size: 18px;
}

#play{
    color: var(--green-color);
    font-size: 20px
}

.accordion-content a {
    text-decoration: none;
}

.btn-center{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 991px) {
    .accordion-title{
        flex-direction: column;
        align-items: flex-start;
    }

    .accordion-content{
        margin-left: 50px;
    }



}

@media (max-width: 768px){
    .accordion-title h3 {
        font-size: 24px;
    }

    .accordion-title p {
        font-size: 16px;
    }

    .accordion span {
        font-size: 14px;
        margin-right: 20px;
    }
}