.section-title {
    display: flex;
    justify-content: space-between;
}

.course-benefits {
    display:flex;
    justify-self: flex-start;
    gap: 30px;
    height: 135px;
    color: var(--main-font-color);
    scroll-behavior: smooth;
    overflow: hidden;
   
}

.course-benefits::-webkit-scrollbar { 
    display:none
}


.course-buttons > a:first-child {
    margin-right: 12px;
}

.benefit-tile {
    display:flex;
    align-items: center;
    width:322px;
    flex: 0 0 auto;
    overflow: hidden;
   
}

.benefit-tile h3 {
    font-weight:400;
    font-size: 24px;
}

.benefit-tile > .benefit-icon > img{
    height: 40px;
    width: 40px;
}

.benefit-info {
    background-color: white;
    height:100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    border-radius: 0px 20px 20px 0px;
    padding: 0px 20px;
}

.benefit-info > p {
    color: gray;
    line-height: 1.6;
    font-weight: 300;
}

.benefit-icon {
    height:100%;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px 0px 0px 20px;
    padding: 0px 20px;
}


#light-blue {
   background-color: #d7eff9;
}

#light-green {
   background-color: #e6fffa;
}

#light-purple {
   background-color: #E9E6FF;
}

#light-yellow {
   background-color: #FFF6DB;
}


@media (max-width: 452px) {
    .course-buttons {
        display: none;
     }
 }


 
 @media (max-width: 1200px) {
    .benefit-tile {
    width:450px !important
    }
 }
 
 @media (max-width: 1500px) {
    .benefit-tile {
    width:350px;
    }

    
 }

  @media (max-width: 990px) {
    .benefit-tile {
    width:320px !important
    }

    
 }

  @media (max-width: 770px) {
    .benefit-tile {
    width:500px !important;
    }

 }


 @media (max-width: 530px) {
    .benefit-tile {
    width:450px !important;
    }

 } 

   @media (max-width: 500px) {
    .benefit-tile {
    width:410px !important;
    
    }

 } 

   @media (max-width: 470px) {
    .benefit-tile {
    width:380px !important;
    }
} 

  @media (max-width: 430px) {
    .benefit-tile {
    width:340px !important;
    }
} 

  @media (max-width: 390px) {
    .benefit-tile {
    width:300px !important;
    }
} 

  @media (max-width: 360px) {
    .benefit-tile {
    width:270px !important;
    }
} 