header {
    height: 100px;
    display: flex;
}

nav ul {
    list-style: none;
}

header > div a {
    text-decoration: none;
}

header > div > a > img {
    padding: 0 15px;
}

header.container {
    padding: 0px;
}

header > div {
display: flex;
align-items: center;
justify-content: space-between;
}

nav {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 15px
}

nav > ul {
    display: none;
    align-items: center;
    margin: 0 26px 0 38px;
}

nav > div {
    display: none;
}

nav > ul a {
    color: #5c6b56;
    transition: all 0.3s;
    font-size: 20px;
    padding: 0 10px;
}

nav > ul > li > a {
    padding-bottom: 40px;
}

nav > ul a:hover {
    color: var(--green-color);
}

nav > div > a:nth-child(1) {
    color: var(--yellow-color);
    font-weight: 500;
    position: relative;
    margin-right: 36px;
}


nav > div > a:nth-child(1)::before {
    border-bottom: solid 1px var(--yellow-color);
    content: '';
    width: 41px;
    position: absolute;
    bottom: -10px;
}

nav > div > a:nth-child(2) {
    padding: 15px 33px;
    border-radius: 6px;
    background-color: var(--green-color);
    color: white;
    transition: all 0.3s;
    font-weight: 500;
}

nav > div >a:nth-child(2):hover {
    background-color: var(--yellow-color);
}

.nav-dropdown {
    display: none;
    position: absolute;
    width: 270px;
    top: 100px;
    background-color: white;
    padding : 24px 40px;
    z-index: 999;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    font-weight: 400;
    transition: all 0.2s ease-in;
}

.nav-menu:hover + .nav-dropdown, .nav-dropdown:hover{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.nav-dropdown > li, .nav-dropdown > li > a  {
    padding: 13px 0px;
}

.nav-dropdown > li > a {
    color: var(--main-font-color);
    font-weight: 400;
    font-size: 18px;
    transition: all 0.3s;
}

.nav-dropdown > li > a:hover {
    margin-left: 6px;
}

.nav-menu:hover + .nav-dropdown {
    animation: slideDown 0.2s 1;
}

@keyframes slideDown {
    from {top: 95px;}
    to {top: 100px;}
  }


.burger-menu {
    position: fixed;
    right: -400px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    z-index: 10;
    width:400px;
    padding: 50px;
    gap: 50px;
    height:100%;
}

.burger-slidein {
    animation: slideIn 0.4s;
    right: 0px
}

.burger-slideout {
    animation: slideOut 0.4s;
    right: -400px;
}

@keyframes slideIn {
    from {right: -400px;}
    to {right: 0px;}
  }

@keyframes slideOut {
    from {right: 0px;}
    to {right: -400px;}
  }

.burger-menu > ul {
    display:flex;
    flex-direction: column;
    width:100%;
    justify-content: flex-start;
    gap: 10px;
    font-size: 20px;
    transition: all 0.3s;
}

.burger-menu > ul li {
    padding: 10px 0px;
}

.burger-menu a {
    color: var(--main-font-color);
    transition: all 0.2s;
}

.burger-menu > ul > li > div {
    display: flex;
    justify-content: space-between;
}

.burger-logo {
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.gray-overlay {
    opacity:    0.8; 
    background: rgb(116, 116, 116); 
    width:      100%;
    height:     100%; 
    z-index:    9;
    top:        0; 
    left:       0; 
    position:   fixed; 
    transition: all 0.4s;
}

.burger-dropdown {
    display:flex;
    flex-direction: column;
    margin-top: 24px;
    margin-left: 20px;
    font-size: 18px;
}

.burger-menu a:hover {
    color: var(--green-color)
}

@media (min-width: 576px) {
   nav > ul {
        display: none;
    }
    nav > div {
        display: none;
    }
    nav > a {
        display: inline;
    }
    
}

@media (min-width: 992px) {
    
    nav > ul {
        display:flex;
    }
    nav > div {
        display:inline-block;
    }
    nav > a {
        display: none !important;
    }
    .burger-menu {
        display: none;
    }
}

@media (min-width: 1200px) {
    nav > ul > li > a {
        padding-left: 24px;
        padding-right: 24px;
    }
}