.course-info{
    margin-bottom: 30px;
}

.course-info h3{
    font-size: 30px;
    font-weight: 500;
    color: #292929;
    text-transform: capitalize;
    margin-bottom: 15px;
    font-family: 'Hind',sans-serif;
}

.course-info p {
    text-transform: capitalize;
    color: #5c6b56; 
    font-weight: 300;
    font-size: 20px;
    line-height: 1.78;
    text-align: center;
}

.info-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.timer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    padding-bottom: 44px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgb(0 0 0 / 6%);
}

.single-countdown h2{
    font-family: 'Hind', sans-serif;
    font-size: 60px;
    font-weight: 600;
    color: #292929;
    padding: 0;
    margin: 0;
    line-height: 1;
    text-transform: capitalize;
    text-align: center;
}

.single-countdown p{
    font-weight: 300;
    margin: 0;
    font-size: 20px;
    line-height: 1.78;
    color: #707070;
    text-align: center;
}

.countdown{
    display: flex;
    gap: 50px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.countdown-tag{
    background-color: #c9fff5;
    padding: 4px 22px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 26px; 
    border-radius: 50px;
    color: var(--green-color);
    line-height: 1.78;
}

@media (max-width: 575px){
    .course-info p {
        font-size: 18px;
    }
    
    .course-info h3{
        font-size: 28px;
    }

    .single-countdown p {
        font-size: 14px;
    }

    .single-countdown h2{
        font-size: 40px;
    }

    .countdown{
        gap: 25px;
        margin-bottom: 0;
    }



    .single-countdown h2{
        font-size: 60px;
      }
    
}

@media (max-width: 400px){

    .timer {
        padding-top: 20px;
        padding-bottom: 20px;
    }

      .single-countdown h2{
        font-size: 30px;
      }

    }

    @media (max-width: 340px){

 .countdown{
        gap: 15px;
        margin-bottom: 0;
    }

    }