/* base */
@import url('../basic/base.css');
@import url('../basic/layout.css');
/* 3rd-party */

/* components */
@import url('../components/button.css');
@import url('../components/header.css');
@import url('../components/footer.css');
@import url('../components/form.css');

/* CUSTOM */
.img{
    padding: 10px;
}
