/* base */
@import url('../basic/base.css');
@import url('../basic/layout.css');
/* 3rd-party */

/* components */
@import url('../components/button.css');
@import url('../components/header.css');
@import url('../components/footer.css');
@import url('../components/form.css');

/* CUSTOM */

/* Section course instructor */
.course-instructor {
    font-family: 'Ubuntu', sans-serif;
    color: var(--main-font-color);
    

}

.course-instructor h2 {
    text-align: center;
    font-size: 38px;
    margin-bottom: 80px;
}

.course-in-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;
    
}

.course-instr-backround {
    background-color: red;
    padding: 40px 70px;
    border-radius: 25px;
}

.course-instructor h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.course-instructor .sub-title {
    font-size: 18px;
    margin-bottom: 30px;
}

.course-instructor ul > li {
    display:flex;
    gap: 30px;
    align-items: center;
    list-style: none;
    margin-bottom: 20px;
    font-weight: 300;
    color: #707070;

  
}

.course-instructor p {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
    color: #707070;
}

.course-instructor i {
    color: var(--yellow-color);
    height: 0.2em;
    width: 0.2em;
    line-height: 0.2em;
    font-size: 20px;
}
