/* base */
@import url('../basic/base.css');
@import url('../basic/layout.css');
/* 3rd-party */

/* components */
@import url('../components/button.css');
@import url('../components/header.css');
@import url('../components/footer.css');
@import url('../components/form.css');
@import url('../components/course.css');

/* CUSTOM */

/* Section course instructor */
.course-instructor {
    font-family: 'Ubuntu', sans-serif;
    color: var(--main-font-color);
   
}

.course-instructor h2 {
    text-align: center;
    font-size: 38px;
    margin-bottom: 80px;
}

.course-in-flex {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
    background-color: #FFF;
}

.course-instr-backround {
    background-color: #FFF;
    padding: 60px 50px;
    border-radius: 25px;
    box-shadow: 0 2px 4px #0003;
}

.course-instructor h4 {
    font-size: 24px;
    background-color: #fff;
    margin-bottom: 5px;  
    
}

.course-instructor .sub-title {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 400;
}

.course-instructor ul > li {
    display: flex;
    gap: 30px;
    align-items: center;
    list-style: none;
    margin-bottom: 15px;
    font-weight: 300;
    color: #707070;
    background-color: #FFF;
}

.course-instructor p {
    font-size: 20px;
    line-height: 1.8;
    font-weight: 300;
    color: #707070;
    background-color: #FFF;
}

.course-instructor i {
    color: var(--yellow-color);
    height: 0.2em;
    width: 0.2em;
    line-height: 0.2em;
    font-size: 20px;
}


@media (max-width: 1500px) {
    .course-in-flex img {
    margin-right: 20px;
    grid-template-columns: 1fr 1fr;
    }

    .course-instr-backround {
    background-color: #FFF;
    padding: 60px 30px;
    }
}

@media (max-width: 1200px) {
    .course-in-flex {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

@media (max-width: 990px) {
    .course-in-flex {
        grid-template-columns: 1fr 1.5fr;
        gap: 0;
    }
    
    .course-instr-backround {
        background-color: #FFF;
        padding: 60px 50px;
        margin-bottom: 30px;
    }
}

@media (max-width: 770px) {
    .course-in-flex {
        grid-template-columns: 1fr;
    }

    .course-in-flex img {
    margin-bottom: 20px;
    }
}